@using FlightManager.Common
@model FlightManager.Web.ViewModels.Flight.ListingPageViewModel
<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">All Flights</h1>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Departure Time</th>
                        <th scope="col">Travel Time</th>
                        <th scope="col">Passengers Seats</th>
                        <th scope="col">Business Seats</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Flights.Count; i++)
                    {
                        <tr>
                            <th scope="row">@Model.Flights[i].From</th>
                            <td>@Model.Flights[i].To</td>
                            <td>@Model.Flights[i].DepartureTime</td>
                            <td>@Model.Flights[i].TravelTime</td>
                            <td>@Model.Flights[i].FreePassengersSeats</td>
                            <td>@Model.Flights[i].FreeBusinessSeats</td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Trips/Details?tripId=@Model.Flights[i].Id" class="btn btn-info text-uppercase">Info</a>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
            <div class="d-flex flex-wrap align-items-center">
                <div class="pagination mx-auto">
                    @{
                        var prevPage = Model.CurrentPage - 1;
                        var nextPage = Model.CurrentPage + 1;
                    }
                    @if (Model.CurrentPage != 1)
                    {
                        <a href="/Flight/GetAll?page=@prevPage" class="btn btn-primary prev-arrow mx-1"><i class="fas fa-arrow-left"></i></a>
                    }

                    @for (var j = 1; j <= (Model.TotalFlightsCount / GlobalConstants.FlightsPerPage) + 1; j++)
                    {
                        @if (j == Model.CurrentPage)
                        {
                            <a class="btn btn-primary active mx-1" href="/Flight/GetAll?page=@j">@j</a>
                        }
                        else if (j >= Model.CurrentPage - 4 && (j <= Model.CurrentPage + 4 && j <= Model.LastPage))
                        {
                            <a href="/Flight/GetAll?page=@j" class="btn mx-1">@j</a>
                        }
                    }

                    @if (Model.CurrentPage != Model.LastPage)
                    {
                        <a href="/Flight/GetAll?page=@nextPage" class="btn btn-primary next-arrow mx-1"><i class="fas fa-arrow-right"></i></a>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
